{% extends 'base/main.html' %}

{% block content %}

<div id="header">
    <div>
        <h1>Hello {{ request.user|title }}!</h1>
        <h3>You have <i>{{ count }} unfinished task{{ count|pluralize:'s' }}.</i></h3>
    </div>

    <div id="auth-button">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><button style="cursor: pointer;">Log Out</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button style="cursor: pointer;">Log In</button></a>
        {% endif %}
    </div>
</div>


<hr>

<div id="title-form">
    <div id="title">
        <h1>TODO List</h1>
    </div>
    <div id="form-div">
        <div id="inside-div">
            <form action="" method="get">
                <input id="input1" type="text" name="search" id="">
                <input id="input2" style="cursor: pointer;" type="submit" value="Search">
            </form>
            <a href="{% url 'task_create' %}"><button style="cursor: pointer;">Add New</button></a>
        </div>
    </div>
    
</div>

<div id="complete-incomplete">
    <div id="complete">
        <h2 style="text-align: center;">Completed</h2>
        {% for task in tasks %}
        <div id="task-wrapper">
            {% if task.complete %}
            <div id="task-title">
                <div id="task-complete-icon" style="display: flex; justify-content: space-evenly;">
                    <div>
                        {{task.title}}
                    </div>
                    <div>
                        <a href="{% url 'task_detail' task.id %}"><button ><i class="ri-eye-line"></i></button></i></a>
                        <a href="{% url 'task_update' task.id %}"><button ><i class="ri-pencil-line"></i></button></a>
                        <a href="{% url 'task_delete' task.id %}"><button ><i class="ri-delete-bin-line"></i></button></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div id="incomplete">
        <h2 style="text-align: center;">Incomplete</h2>
        {% for task in tasks %}
        <div id="task-wrapper">
            {% if not task.complete %}
            <div id="task-title">
                <div id="task-complete-icon" style="display: flex; justify-content: space-evenly;">
                    <div>
                        {{task.title}}
                    </div>
                    <div>
                        <a href="{% url 'task_detail' task.id %}"><button><i class="ri-eye-line"></i></button></i></a>
                        <a href="{% url 'task_update' task.id %}"><button><i class="ri-pencil-line"></i></button></a>
                        <a href="{% url 'task_delete' task.id %}"><button><i class="ri-delete-bin-line"></i></button></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        {% empty %}
            <h1>No Items in List</h1>
        {% endfor %}
    </div>
    
</div>


{% endblock %}